<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="lib/angular-websocket/angular-websocket.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="lib/ionic-service-core/ionic-core.js"></script>
    <script src="lib/ionic-service-push/ionic-push.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

  </head>

  <body ng-app="starter" ng-controller="MainCtrl">
  	<!--Center content-->
    <ion-side-menus>
    <ion-pane>
    <!--Side menu stuff-->
    		<ion-side-menu-content>
  		    <div class="bar bar-header bar-royal">
	    	    <button menu-toggle="left" class="button     icon ion-navicon"></button>  
 		      	<h1 class="title">JLS HOLLA</h1>
        	</div>
<!--Main content of app-->
       <ion-content scroll="true" class="padding has-header has-subheader">
        <ion-refresher pulling-text="Refresh...." on-refresh="refreshNow();">
        </ion-refresher>

      	<div class="content card list">
            
      		<div class="item item-divider item-text-wrap item-thumbnail-top">
      			<img src="img/kingstonlibrary.jpg">
      		<h2>History of the Kingston Parish Library</h2>
      		<div class="item item-text-wrap">
      			<p> It also operates four hundred and eleven (411) mobile library stops as well as offers access points for twenty-two (22) special categories of persons.
      			<br>
				</p>
      		</div>
      		<div class="item item-divider item-text-wrap item-thumbnail-top">
      			<img src="img/techfest.jpg">
      			<center><h2>Jamaica Library Service Techfest</h2></center>
      			<div class="item item-body item-text-wrap">
					<p>
						The JLS Tech fest is a global libraries ICT project that will showcase different projects related to the library. The winners of the recent Mobile App Competiton will also be announced.
					</p>      				
      			</div>
      		</div>
      			<div class="item item-divider item-text-wrap item-thumbnail-top">
      				<img src="img/appguidelines.jpg">
      			<h2>Jamaica Library Service App Competition Guidelines</h2>
      			<div class="item item-body item-text-wrap">
					<p>
						These are the guidelines for the ongoing app competiton hosted by the Jamaica Library Service. Please go to our <a ng-click="openBrowser1()" href="https://www.facebook.com/jamaicalibraryservice/photos/a.1518421435101642.1073741828.1485475855062867/1787696394840810/?type=3&theater">Facebook</a> page for more information.
					</p>      				
      			</div>
      		</div>

      			<div class="item item-divider item-text-wrap item-thumbnail-top">
      				<img src="img/closed.jpg">
      				<h3>Closure of all libraries</h3>
      			<div class="item item-body item-text-wrap">
					<p>
						Due to the passage of Hurricane Matthew all public libraries will be closed on Monday October 3, 2016. Please be safe & we will update you on normal operations momentarily.
					</p>      				
      			</div>
      		</div>

      			<div class="item item-divider item-text-wrap item-thumbnail-top">
      				<img src="img/app.png">
      			Jamaica Library Service Mobile App Competiton

      			<div class="item item-body item-text-wrap">
					<p>
						The Jamaica Library service is proud to announce a mobile app competition. Please go to our main <a ng-click="openBrowser3()" href="http://www.jls.gov.jm/ ">website</a> for more information. 
					</p>     
        				
      			</div>
      		</div>
      		</div>
      	</div>
      </ion-content>
      </ion-side-menu-content>
    <ion-side-menu side="left">
     <header class="bar bar-header bar-positive"><h2 class="title">Social Links</h2></header>
            <div class="menu-wrapper">
            
            <div class="item item-thumbnail-top padding has-header">
                 <a ng-click="openBrowser1()" href="https://www.facebook.com/pages/Jamaica-Library-Service/1485475855062867"><img src="img/facebook.jpg"></a>
                 Facebook
          </div>
            <div class="item item-thumbnail-top padding has-header">
              <a ng-click="openBrowser2()" href="https://twitter.com/JLSEmpoweringJa"><img src="img/twitter.png"></a>
              Twitter
            </div>
         <div class="item item-icon-right padding has-header">
           <a ng-click="openBrowser3()" href="http://jls.gov.jm/"><i class="icon ion-home"></i></a>
              <h3>Jamaica Libray Service</h3>
        </div>
      </div>
    </ion-side-menu>
    </ion-pane></ion-side-menus>
    
  </body>
</html>
